
 
$bootstrap-sass-asset-helper: true; /* Solution I don't understand from https://github.com/webpack-contrib/sass-loader/issues/40 */
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss"; // Tilde (~) points it toward the node_modules folder
@import url('https://fonts.googleapis.com/css?family=Poppins|Lato|Oswald');
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

$app-height: 600px;

#container-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

#container-main-content {
    padding: 0px;
    display: flex;
    height: $app-height;
}

#container-sidebar {
    min-width: 200px;
    background-color: rgba(250, 250, 250, 1);
    margin: 0px;
    padding: 0px;
    max-height: $app-height;
    display: flex;
    flex-direction: column;

    $this-user-height: 30px;
    #this-user {
        padding: 10px 0 0 15px;
        color: rgba(150, 150, 150, 1);
        height: $this-user-height;
    }

    $h4-height: 40px;
    h4 {
        margin: 0px;
        padding: 15px;
        padding-bottom: 5px;
        padding-left: 5px;
        height: $h4-height;
    }


    $all-users-height: 300px;
    #container-sidebar-all-users-list {
        max-height: $all-users-height;
        #all-users-list {
            max-height: $all-users-height - $h4-height; 
            overflow-y: auto;
            //overflow-x: hidden;
            padding-left: 15px;
        }
    }

    $private-conversations-height: 250px;
    #container-sidebar-private-conversations {
        height: $private-conversations-height;
        #private-conversations-list { 
            height: $app-height - $all-users-height - $h4-height*2;
            padding-left: 15px;
            overflow: scroll;
            overflow-x: hidden;
        }
    } 
}


#container-chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;

    #chat-log {
        padding: 10px;
    	overflow-y: auto;
	    overflow-x: hidden;
    }

    form {
        width: 90%;
    }
    #chat-input {
        margin-left: 10px;
        width: 100%;
    }
}

